body{
    margin: 0;
    overflow-x: hidden;
}
.container_gif_gen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100dvh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    
    h2{
        text-align: center;
        color: white;
        font-size: 20px;
        @media(min-width: 768px){
            font-size: 35px;
        }
    }
    input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #file-upload-button{
        padding: 15px;
        background-color: transparent;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        video{
            width: 85%!important;
            height: auto;
            max-height: 500px;
        }
    }
}
.container-modifiers{
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
    gap: 15px;
    div{
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 25px;
        color: white;
        background: rgba(0, 0, 0, 0.8);
        padding: 15px;
        border-radius: 15px;
    }
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
      /* Pause ou ralentissement ici */
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.loading{
    animation : rotate 2s linear infinite;
}
.loading svg{
    width: 5em;
    height: 5em;
    stroke: white;
}
.loader-time{
    p{
        color: white;
        background: rgba(0, 0, 0, 0.8);
        padding: 10px;
        border-radius: 10px;
    }
}
.button-size{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 50px;
    transition: all ease 0.3s;
    &:hover{
        transform: scale(1.05);
        transition: all ease 0.3s;
    }
}
.grey{
    background-color: grey!important;
    margin: 20px 0; 
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .modal-content{
        position: absolute;
        bottom: 100%;
        background: rgba(0, 0, 0, 0.8);
        padding: 50px;
        width: 100%;
        p{
            color: white;
            padding: 25px;
        }
        .modal-buttons{
            display: flex;
            gap: 15px;
        }
    }
}
@media(max-width: 817px){
    .container-modifiers div{
        width: 35%;
    }
}
@media(max-width: 584px){
    .container-modifiers{
        flex-direction: column!important;
        gap: 0;
        div{
            margin-top: 15px;
        }
    }
}
@media(max-width: 414px){
    .container-modifiers{
        div{
            width: 65%;
        }
    }
}
@media(min-width: 768px){
    .button-size{
        font-size: 22px!important;
    }
}